[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-database-url = "*"
django-storages = {extras = ["google"],version = "*"}
channels = "*"
channels-redis = "*"
dialogflow = "*"
coreapi = "*"
markdown = "*"
pymessenger = "*"
cryptography = "*"
ulid-py = "*"
django-filter = "*"

[requires]
python_version = "3.7"
