<ion-header>
  <ion-toolbar color="light">
    <ion-title>Inicjatywy</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button style="height: 40px;">
        <img src="assets/img/fake-user-avatar.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div style="display: flex; align-items: center;">
    <ion-searchbar [(ngModel)]="queryText" placeholder="Szukaj..."></ion-searchbar>

    <ion-buttons style="margin-right: 8px;">
      <ion-button fill="solid" routerLink="/new-initiative">
        <ion-icon slot="icon-only" name="add" color="secondary" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="buttons">
    <button (click)="selectGroup('złota52')" [class.selected]="selectedGroupId === 'złota52'">Złota 52</button>
    <button (click)="selectGroup('ursynow')" [class.selected]="selectedGroupId === 'ursynow'">Ursynów</button>
  </div>

  <initiatives-list [groupId]="selectedGroupId" [searchQuery]="queryText"></initiatives-list>
</ion-content>
