<!--<div class="content">-->
<!--  <h2 class="mat-h1 panel-header">Tickets</h2>-->

<!--  <mat-list>-->
<!--    <mat-list-item *ngFor="let topic of topics">-->
<!--      <mat-icon mat-list-icon>card_giftcard</mat-icon>-->
<!--      <h4 mat-line>{{'Bench is broken'}}</h4>-->
<!--      <p mat-line>{{topic.date_created | date}}</p>-->
<!--      <mat-chip-list mat-line>-->
<!--        <mat-chip *ngFor="let label of ['facebook','Ławki']"-->
<!--                  color="primary"-->
<!--                  selected="true"-->
<!--        >-->
<!--          {{label | titlecase}}-->
<!--        </mat-chip>-->
<!--      </mat-chip-list>-->
<!--    </mat-list-item>-->

<!--  </mat-list>-->

<!--</div>-->

<!--<router-outlet></router-outlet>-->
